<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Enlaces y contactos favoritos</h1>
            <h3 class="mb-5">
                <em>Almacena tus enlaces y contactos favoritos</em>
            </h3>
            <a href="/singin" class="btn btn-success">
                Continuar aquí!
            </a>
        </div>
    </header>
</main>